<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
     <style>

        .form-control {
            border: 5px solid #ced4da;
            border-radius: 4px;
            padding: 6px 12px;
            height: 50px;
        }

        .custom-class {
            color: blue;
            font-weight: bold;
        }
    </style>
</head>
<body style="background-color: #6699cc;">
<!--    <h1>welcome to my  model</h1>-->
<!--    <div class="container">-->
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit"> Predict  Price</button>-->
<!--    </form>-->
<!--    </div>-->
<div class="container mt-4">
        <h2>Car Information</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_Year">Year:</label>
                {{ form.Year }}
            </div>
            <div class="form-group">
                <label for="id_Present_Price">Present Price:</label>
                {{ form.Present_Price }}
            </div>
            <div class="form-group">
                <label for="id_Kms_Driven">Kilometers Driven:</label>
                {{ form.Kms_Driven }}
            </div>
            <div class="form-group">
                <label for="id_Fuel_Type">Fuel Type:</label>
                {{ form.Fuel_Type }}
            </div>
            <div class="form-group">
                <label for="id_Seller_Type">Seller Type:</label>
                {{ form.Seller_Type }}
            </div>
            <div class="form-group">
                <label for="id_Transmission">Transmission:</label>
                {{ form.Transmission }}
            </div>
            <div class="form-group">
                <label for="id_Owner">Owner:</label>
                {{ form.Owner }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

   {% if predicted_price %}
   <div>
       <h1>Predicted price: ${{ predicted_price }}</h1>
       <h1>the price is mentioned above</h1>

   </div>
   {% endif %}

</body>
</html>